<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    {% extends "training/base.html" %} {% block content %}
    <h1>Courses</h1>

    <form method="GET">
      <label for="category">Filter by Category:</label>
      <select class="form-select" name="category" id="category">
        <option value="">All</option>

        <option value="TECHNICAL" {% if selected_category == "TECHNICAL" %}selected{% endif %}>
          Technical
        </option>

        <option value="SECURITY" {% if selected_category == "SECURITY" %}selected{% endif %}>
          Security
        </option>

        <option value="SOFT_SKILLS" {% if selected_category == "SOFT_SKILLS" %}selected{% endif %}>
          Soft Skills
        </option>
      </select>

      <button class="btn btn-primary mt-3" type="submit">Apply</button>
    </form>

    <table class="table table-striped">
      <tr>
        <th>Title</th>
        <th>Category</th>
        <th>Duration</th>
        <th>Actions</th>
      </tr>

      {% for c in courses %}
      <tr>
        <td>{{ c.title }}</td>
        <td>{{ c.get_category_display }}</td>
        <td>{{ c.duration_minutes }}</td>
        <td>
          <a
            href="{% url 'training:edit_course' c.id %}"
            class="btn btn-secondary btn-sm me-2"
          >
            Edit
          </a>
          <form
            method="POST"
            action="{% url 'training:delete_course' c.id %}"
            class="d-inline"
          >
            {% csrf_token %}
            <button type="submit" class="btn btn-danger btn-sm">Delete</button>
          </form>
        </td>
      </tr>
      {% endfor %}
    </table>

    <br />

    <a href="{% url 'training:create_courses.html' %}">
      Create New Course
    </a>
    {% endblock %}
  </body>
</html>
