{% extends "training/base.html" %} {% block content %}
<h1>Enroll Employee</h1>

<form method="POST">
  {% csrf_token %}

  <label for="employee">Employee:</label>
  <select class="form-select" name="employee" id="employee">
    {% for e in employees %}
    <option value="{{ e.id }}">{{ e.full_name }}</option>
    {% endfor %}
  </select>

  <label for="session">Session:</label>
  <select class="form-select" name="session" id="session">
    {% for s in sessions %}
    <option value="{{ s.id }}">
      {{ s.course.title }} - {{ s.session_date }}
    </option>
    {% endfor %}
  </select>

  <label for="status">Status:</label>
  <select class="form-select" name="status" id="status">
    <option value="ENROLLED">ENROLLED</option>
    <option value="COMPLETED">COMPLETED</option>
    <option value="CANCELLED">CANCELLED</option>
  </select>

  {% if error %}
  <div class="alert alert-danger mt-3">{{ error }}</div>
  {% endif %}

  <button class="btn btn-primary mt-3" type="submit">Submit</button>
</form>
{% endblock %}
