{% extends "training/base.html" %} {% block content %}

<h2 class="mb-4">Employees</h2>

<!-- FILTER -->
<form method="GET" class="mb-3">
  <div class="d-flex gap-2">
    <label for="department" class="form-label">Filter by Department:</label>

    <select id="department" class="form-select w-auto" name="department">
      <option value="">All</option>

      <option
        value="IT"
        {%
        if
        selected_department=""
        ="IT"
        %}selected{%
        endif
        %}
      >
        IT
      </option>

      <option
        value="SALES"
        {%
        if
        selected_department=""
        ="SALES"
        %}selected{%
        endif
        %}
      >
        Sales
      </option>

      <option
        value="HR"
        {%
        if
        selected_department=""
        ="HR"
        %}selected{%
        endif
        %}
      >
        HR
      </option>
    </select>

    <button class="btn btn-primary" type="submit">Apply</button>
  </div>
</form>

<!-- HEADER + ACTION -->
<div class="d-flex justify-content-between align-items-center mb-3">
  <h5 class="mb-0">All Employees</h5>

  <a href="{% url 'training:create_employee.html' %}" class="btn btn-secondary">
    Create Employee
  </a>
</div>

<!-- TABLE -->
<div style="max-height: 280px; overflow-y: auto">
  <table class="table table-striped table-hover table-sm mb-0">
    <thead class="table-light" style="position: sticky; top: 0; z-index: 2">
      <tr>
        <th>Full Name</th>
        <th>Email</th>
        <th>Department</th>
        <th class="text-end">Actions</th>
      </tr>
    </thead>

    <tbody>
      {% for e in employees %}
      <tr>
        <td>{{ e.full_name }}</td>
        <td>{{ e.email }}</td>
        <td>{{ e.department }}</td>
        <td class="text-end">
          <a
            href="{% url 'training:edit_employee' e.id %}"
            class="btn btn-sm btn-outline-secondary me-1"
          >
            Edit
          </a>

          <form
            method="POST"
            action="{% url 'training:delete_employee' e.id %}"
            class="d-inline"
          >
            {% csrf_token %}
            <button type="submit" class="btn btn-sm btn-outline-danger">
              Delete
            </button>
          </form>
        </td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="4" class="text-center text-muted">No employees found.</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
