<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Enrollments</h1>

    <table border="1">
      <tr>
        <th>Employee</th>
        <th>Course</th>
        <th>Status</th>
      </tr>

      {% for e in enrollments %}
      <tr>
        <td>{{ e.employee.full_name }}</td>
        <td>{{ e.session.course.title }}</td>
        <td>{{ e.status }}</td>
      </tr>
      {% endfor %}
    </table>

    <br />

    <a href="{% url 'training:create_enrollments' %}">
      Create New Enrollment
    </a>
  </body>
</html>
