{% extends "training/base.html" %}

{% block content %}

<h1>Enrollments</h1>

<form method="GET">
  <label for="status">Filter by Status:</label>
  <select class="form-select" name="status">

    <option value="">All</option>

    <option value="ENROLLED" {% if selected_status == "ENROLLED" %}selected{% endif %}>
      ENROLLED
    </option>

    <option value="COMPLETED" {% if selected_status == "COMPLETED" %}selected{% endif %}>
      COMPLETED
    </option>

    <option value="CANCELLED" {% if selected_status == "CANCELLED" %}selected{% endif %}>
      CANCELLED
    </option>

  </select>

  <button class="btn btn-primary mt-3">Apply</button>
</form>

<table class="table mt-3">
  <tr>
    <th>Employee</th>
    <th>Course</th>
    <th>Status</th>
  </tr>

  {% for e in enrollments %}
  <tr>
    <td>{{ e.employee.full_name }}</td>
    <td>{{ e.session.course.title }}</td>
    <td>{{ e.status }}</td>
  </tr>
  {% endfor %}
</table>

<br>

<a href="{% url 'training:enrollment_management' %}" class="btn btn-secondary">
  Manage Enrollments
</a>

{% endblock %}